body{
    font-family: 'Roboto', sans-serif !important;
     overflow-x: hidden; 
         -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.navbar{
	-webkit-box-shadow: 1px 1px 10px -2px rgba(0,0,0,0.28);
	-moz-box-shadow: 1px 1px 10px -2px rgba(0,0,0,0.28);
	box-shadow: 1px 1px 10px -2px rgba(0,0,0,0.28);
	height: 90px;
	background: white;
	@media (min-width: 992px) {
       height: 127px;
	}
	// ∆∆- logotipo -∆∆
	.navbar-brand{
			width: 120px;
			position: relative;
			z-index: 1;
			@media (min-width: 992px) {
				width: 200px;

			}
	}
	//†∆∆- ul collapse menu -∆∆†
	.navbar-collapse{
		background:rgba( $bgBlack, 1);
		margin-top: 22px;
		border-top: none;
		max-height: inherit;
		@media (min-width: 768px) {
			margin-top: -18px;
			padding-left: 9px;
			padding-bottom: 5px;

		}
		@media (min-width: 992px) {
			width: initial;
			margin-top: 0;


		}

	}

	// ∆∆-btn menu mobile -∆∆
	.navbar-toggle{
      margin-top: 18px;
      border: none;
      &:hover{
      	background: transparent;
      	.icon-bar{
      		background: $greyFont;
      		width: 28px;
      	}
      }
      	.icon-bar{
      		background: $red;
      		width: 28px;
      		transition: background .4s;
      	}
	}
	// body to menu
	.nav.navbar-nav{
		vertical-align: middle;
		margin-top: 54px;
		li{
			a{
				font-size: 14px;
				font-weight: 300;
				text-transform: uppercase;
				text-align: center;
				padding: 18px;
				&:hover{
					color: $red;
				}
				@media (min-width: 768px) {
					padding: 7px;
					font-size: 11px;

				}
				@media (min-width: 998px) {
					padding: 9px;
					font-size: 11px;

				}
				@media (min-width: 1180px) {
					padding: 10px 18px;
					font-size: 12px;

				}
				@media (min-width: 1280px) {
					font-size: 14px;
				}
			}
		}
			.active{
				a, a:hover{
					color: $red;
					position: relative;
					padding-bottom: 8px;
					&:before{
						content: "";
						border-bottom: 0 solid $red;
						width: 100%;
						position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        			    top: 5%; left: 0; right: 0; bottom: 0;
        			    @media (min-width: 992px) {
        			    	border-bottom: 1px solid $red;
        			    }
					}
				}
			}


			// ††† Drop down menu 
			.dropdown-menu {
				margin-top: 20px;
				background: $black;
				padding: 0;	
				@media ( max-width : 992px){
					margin-top: 5px;
				}
				@media( max-width: 768px){
					background: rgba( white, .08 );
					a:hover{
						color: white !important;
 
					}
				}
			}
 
	}

}


h1,h2,h3,h4,h6{
	@include cero;
}

// ∆∆- Eyectacher -∆∆
.carousel-indicators{
	left: inherit;
    width: 10%;
    margin-left: 0;
    right: -14px;
    top: 34%;
	li{
		display: block;
		border: none;
		margin: 9px 0;
		background: white;
	}
	li.active{
		background: $red;
		margin: 9px 0;
	}
	@media (min-width: 992px) {
		 right: -64px;


	}
}
.carousel-inner{
	background: $bgBlack;
	margin-top: 90px;
	height: 520px;
	@media (min-width: 992px) {
		margin-top: 127px;
	}
	@media (min-width: 768px) {
		height: 620px;

		}
		@media (min-width: 992px) {
			height: 680px;

		}
		@media (min-width: 1440px) {
		   height: 85vh;
	       min-height: 680px;
	       max-height: 850px;

		}

	.item{
		@include animation-duration ( 1.2s);
		height: 520px;
		@media (min-width: 768px) {
		height: 620px;

		}
		@media (min-width: 992px) {
			height: 680px;

		}
		@media (min-width: 1440px) {
		   height: 85vh;
	       min-height: 680px;

		}
		h1{
			@include cero;
			padding: 12px 18px;
			border-radius: 9px;
		    // letter-spacing: 8px;
		    width: 201px;
		    height: 57px;
		    font-size: 33px;
			position: absolute;
			top: 35%;  left: 0; right: 0;
			margin: auto;
			@include animation-delay (.4s);
			@include animation-duration ( 1.8s);
			@media (min-width: 768px) {
				    padding: 12px 18px;
				    letter-spacing: 8px;
				    width: 338px;
				    height: 88px;
				    font-size: 63px;

			}
			@media (min-width: 1200px) {
			padding: 12px 18px;
			// letter-spacing: 18px;
			width: 458px;	
			height: 110px;
			font-size: 79px;

			}
		}

	}
	.item:nth-child(1){
		background: url(assets/img/eyecatcherBg.jpg) center;
		@include cover; 
	}
	.item:nth-child(2){
		background: url(assets/img/eyecatcherBg2.jpg) center;
		@include cover; 
	}
}

footer{
	.menuLinkSmall{
		position: inherit;
	    width: 100%;
	    height: auto;
    
        background: $red;
        @include flexFlow;
        text-align: center;
        article{
        	padding: 18px;
        	width: 50%;
        	 @include flexFlow;;
        	 i{
        	 	width: 20%;
        	 	margin-right: 12px;
        	 	color: white;
        	 	font-style: normal;
        	 	font-size: 2.1em;

        	 }
        }
        article:nth-child(1){
        	border-right: 1px solid rgba( white, .3);
        }
        @media (min-width: 768px){
        	display: none;
        }

	}
	z-index: 2;
	position: relative;
	margin-top: -118px;
	.logoFooter{
		img{
			width: 50%;
		}
	}
	.row{
		max-width: 420px;
		text-align: center;
		margin: 0 auto;
		> div{
			margin-top: 18px;
		}
		@media (min-width: 768px) {
			max-width: 100%;
			text-align: left;
			> div{
			margin-top: 0px;
			h4{
				margin-bottom: 9px;
			}
		    }   

		}
	}
.menuLink{
		position: inherit;
	    width: 100%;
	    height: 120px;
        padding: 1% 5%;
        background: $red;
		display: none;
        article{
        	width: 50%;
        	height: 90px;
        	 @include flexFlow;
        	 	i{ 
        	 		width: 100%;
        	 		text-align: center;
        	 		font-style: normal;
        	 		font-size: 3em !important;
        	 		@media (min-width: 1200px){
        	 			width: 30%;
        	 			font-size: 3em !important;
        	 		}
        	 		@media (min-width: 1500px){
        	 			font-size: 3.8em !important;
        	 		}

        	 	}
        	 	.text{
        	 		width: 100%;
        	 		font-size: 12px;
        	 		line-height: 12px;
        	 		text-align: center;
        	 		span{
        	 			// line-height: 16px;
        	 			// margin-top: 24px;
        	 			padding-right: 0;
        	 		}
        	 		@media (min-width: 1200px){
        	 			width: 70%;
        	 			font-size: 14px;
        	 			line-height: 24px;
        	 			text-align: left;
        	 			margin-top: 20px;
        	 		}
        	 		@media (min-width: 1500px){
        	 			font-size: 16px;

        	 		}

        	 	}
        	 }
        	  @media (min-width: 768px){
        	  	     @include flexFlow;
        	  	 background: none;
                  position: absolute;
				    width: 40%;
				    right: -33px;	
				    background-image: -webkit-linear-gradient(199deg, #b4072a 86%, transparent 21%);
                   background-image: -moz-linear-gradient(199deg, #b4072a 86%, transparent 21%);
        	  }
        	  @media (min-width: 992px){
        	  	 // width: 413px;
        	  }
        	  @media (min-width: 1200px){
        	  	// width: 590px;
        	  	height: 123px;
        	  	padding: 2% 6%;

        	  }

        	 @media (min-width: 1640px){
        	 	right: 0px;
                padding: 1.2% 6%;
        	     background-image: -webkit-linear-gradient(209deg, $red 90%, transparent 90%);
                background-image: -moz-linear-gradient(209deg, $red 90%, transparent 90%);
        	 }
	   }
}
	   hr.fooot{
	   	width: 100%;
	   	 	display: inherit;
	   	 	opacity: .4;
	   }
.legals{
	color: rgba( $greyBg, .8);
}
.navLenguajeSmall{
	padding: 20px 0;
	text-align: center;
	border-top: 1px solid rgba($red, .4);
	select{
		width: 25%;
		height: 30px;
		border: 0;
	}
	@media(min-width: 768px){
		display: none;
	}
}
.navLenguaje{
	right: 18px;
	top: 9px;
	display:none;
	label{
		margin-right: 9px;
		font-size: 16px;
	}
	select{
		border: 1px solid $red;
	}
	@media(min-width: 768px){
		display: inherit;

	}
	@media(min-width: 992px){
		top: 18px;
	}
}



