@mixin flexFlow {
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

@mixin nopadding{
  padding:0;

}

@mixin contentSmall{
  max-width: 1177px;
  margin: 0 auto;
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
}


@mixin cover {
 -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important; 
}

@mixin absolute{
   position: absolute;
}
@mixin relative{
   position: relative;
}
@mixin centerObjet {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  }

@mixin cero {
  padding: 0;
  margin: 0;
  }

@mixin contenImg {
  overflow: hidden;
  position: absolute; 
}

@mixin  imgCenter{
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%);
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}