

$orange: #b4072a;   //red to oragnge

$green:#b4072a;   // red to green

$aqua:#00bfd6;  // to btn

$greyFont: #a9a8ab; // font to footer

$black: #0d1a2d; // font body

$bgBlack: #000000; // font bg

$greyBg: #dcdcdc; // fondo de sección home

$red:#b4072a;  // to btn




