include ./components/header.jade
include ./home/eyecatcher.jade
//SectionOne
section.one.bgWhite
	.groupTitle.textCenter.box
		h2.subtitle.light.upper.ColorRed ACERCA DE
		h1.title.upper.bold.ColorBlack NOSOTROS	
	.text.light.colorBlack.textCenter Aristea Desarrollos es una empresa diseñada para proporcionar servicios integrales para la ejecución de <br>proyectos inmobiliarios. 
	.text.light.colorBlack.textCenter Contamos con más de 30 años de experiencia en el sector, elaborando sólidas estrategias de bienes raíces <br>en vivienda, desarrollos comerciales y corporativos.
	.text.light.colorBlack.textCenter Ofrecemos soluciones basándonos en 3 pilares: <br>Gestión Inmobiliaria <br>Dirección de construcción <br>Comercialización de los proyectos.. 
	.text.light.colorBlack.textCenter Estamos orgullosos de proporcionar a nuestros clientes e inversionistas soluciones exitosas en el sector
section.second.relative
	article
		.groupTitle.textCenter.boxRed
			h2.subtitle.light.upper.ColorWhite DESARROLLO
			h1.titleMedium.upper.bold.ColorBlack INMOBILIARIO
		p.text.ColorWhite.light  La gestión inmobiliaria comprende 3 grandes rubros:armado, operación y cierre del proyecto

section.third
	article
section.fourt
	article
include ./components/footer.jade