//◊Heder◊ 
include ./components/header.jade

//◊Eyectacher◊
include ./interiores/eyecatcher.jade

//◊Main◊
include ./interiores/mainProyectos.jade

//◊Mainor whit text◊
include ./interiores/proyectos.jade

//◊Mainor whit text◊
//include ./interiores/mainorText.jade

//◊List◊
//include ./interiores/list.jade

//◊List◊
//include ./interiores/our.jade

//◊Call To Action◊
//include ./interiores/callToAction.jade

//◊Call To Action◊
//include ./interiores/contacto.jade

//◊Call To Action◊
//include ./interiores/generica.jade

//◊Call To Action◊
//include ./interiores/gracias.jade

//◊Footer◊
include ./components/footer.jade