//† Footer •••••••••
footer#footerwrap.bgBlackOne.relative
  .containerFluid
    .row
      .col-sm-3.logoFooter
        a.navbar-brand(href='index.html')
        img.with100(src='assets/img/logo.png', alt='')
      .col-sm-2
        h4.upper.ColorRed.light ubicación
        p.regular.ColorGrey.textfoot
          | Tenancingo 36 Col. Condesa <br>
          | Del. Cuautémoc C.P 06140 <br>
          | Ciudad de México. 
          
      .col-sm-3
        h4.upper.ColorRed.light contacto
        p.regular.ColorGrey.textfoot
          a.light.ColorGrey(href="mailto:contacto@aristea.com.mx") contacto@aristea.com.mx <br>
          | (55) 55 545657
      .menuLink
        article 
          i.flaticon-handshake.ColorBlack
          .text
            span.upper.text.light.ColorWhite.block inversionistas
            a.ColorWhite.thing(href="#") ver más >
        article
          i.flaticon-albums.ColorBlack
          .text
            span.upper.text.light.ColorWhite.block terrenos
            a.ColorWhite.block.thing(href="#") ver más >  
hr               
.legals.text.thing.text-center ARISTEA Todos los derechos reservados 2016.
br

//†† Scripts •••••••••
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
script(src='assets/js/bootstrap.min.js')
script(src='https://cdn.rawgit.com/visionmedia/page.js/master/page.js')  
script(src='assets/js/main.js')