doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='author', content='')
  link(rel='shortcut icon', href='assets/ico/favicon.ico')
  link(href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i', rel='stylesheets')
  title Aristea Desarrollos
  // Custom styles for this template
  link(href='style.css', rel='stylesheet')
  link(href='assets/css/font-awesome.min.css', rel='stylesheet')
  // Just for debugging purposes. Don't actually copy this line!
  //if lt IE 9
    script(src='../../assets/js/ie8-responsive-file-warning.js')
  // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
  //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  script(src='assets/js/modernizr.custom.js')
// Fixed navbar
.navbar.navbar-default.navbar-fixed-top.bgBlackOne(role='navigation')
  .containerFluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='index.html')
        img.with100(src='assets/img/logo.png', alt='')
    .navbar-collapse.collapse.navbar-right
      ul.nav.navbar-nav
        li.active
          a(href='desarrollos-inmobiliarios.html') DESARROLLO INMOBILIARIO 
        li
          a(href='comercializacion.html') COMERCIALIZACIÓN
        li
          a(href='contruccion.html') CONSTRUCCIÓN
        li
          a(href="quienes-soms")  ¿QUIÉNES SOMOS?
        li
          a(href="conatacto") CONTACTO
    // /.nav-collapse
body
