section.callToAction.bgRed
	.containerFluidMedium.row
		.text.light.ColorWhite.col-xs-12.col-sm-7.col-md-7.col-lg-8 Aristea Desarrollos te ofrece un servicio integral para la ejecución de un proyecto en el sector inmobiliario.
		.border.col-xs-12.col-sm-1
		br
		button.btn-general-reset.center.bgBlack.ColorWhite.hover-red-bg.upper.col-xs-12.col-sm-3.col-md-4.col-lg-3 contáctanos

