section.mainIn.contacto
	.conetentReset
		article
			.text.thing.ColorBlack Para nosotros su comunicación es muy importante, agredeceremos nos brinde los siguientes datos para atenderle mejor
			br
			br
			form
				.form-group
					input.form-control.text(type='text', placeholder='*Nombre Completo', name='text')
				.form-group
					input.form-control.text(type='telephone', placeholder='*Teléfono Completo', name='telephone')
				.form-group
					input.form-control.text(type='mail', placeholder='*E-mail', name='mail')
				.form-group
					input.form-control.text(type='text', placeholder='*Mensaje', name='mensaje')
				br
				.checkbox
					label
						input(type='checkbox')
						| He leido y acepto los 
						a.ColorRed terminos y condicines
				br
				br
				button.btn-general-reset.bgRed.upper.hover-black.right.ColorWhite ENVIAR
		article
			.contenido
				.groupTitle.textCenter.boxBlackTransparentTwo
						h3.subtitle.bold.ColorBlack UBICACIÓN
				br
				br
				ul.fa-ul
					li
						i.fa-li.fa.fa-check-square.ColorRed.fa-2x
						p.text.thing +01 800 831 2680 / 52 (55) 5447-7400
					li
						i.fa-li.fa.fa-check-square.ColorRed.fa-2x
						p.text.thing servicios@aristea.com.mx
					li
						i.fa-li.fa.fa-check-square.ColorRed.fa-2x
						p.text.thing Avenida 2 # 28 Despacho 8, Colonia San Pedro de los Pinos, Delegación Benito Juárez, CP 03800
			.map
				iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1237.206962381936!2d-99.18509295532829!3d19.389444238866048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff7c364fcce3%3A0x24cecb2b2173c491!2sCalle+Av.+Dos%2C+San+Pedro+de+los+Pinos%2C+CDMX!5e0!3m2!1ses!2smx!4v1482264558894', frameborder='0', style='border:0', allowfullscreen='')
