section.mainIn.bgWhite.generica
	.containerFluidMedium.conetentReset
		h2.title.ColorBalck.medium.text-center Graciaspor contactanos<br>  en breve nos cominicaremos contigo.
		br
		h2.subtitleIn.ColorBalck.medium.text-center Gracias por contactanos en breve nos cominicaremos contigo
		br
		br
		p.light.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor deserunt placeat laborum a dolorem iusto, accusantium nihil necessitatibus consequatur, explicabo aperiam dolorum eius doloremque autem, quaerat culpa, ratione inventore. Optio.
		br
		p.light.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor deserunt placeat laborum a dolorem iusto, accusantium nihil necessitatibus consequatur, explicabo aperiam dolorum eius doloremque autem, quaerat culpa, ratione inventore. Optio.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus quos voluptate fugit ab nihil facere similique impedit corrupti aliquam vero asperiores quasi magnam ipsum, nesciunt dolor architecto ipsam provident in!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quidem, dolore provident fugit hic, odio accusantium sunt porro! Quaerat vitae neque ratione doloremque velit enim minus, atque quibusdam expedita inventore?
		br
		p.light.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor deserunt placeat laborum a dolorem iusto, accusantium nihil necessitatibus consequatur, explicabo aperiam dolorum eius doloremque autem, quaerat culpa, ratione inventore. Optio.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid obcaecati illum, ullam eos aliquam vitae odit totam ipsa, excepturi libero sint magnam velit eaque. Error labore eveniet, fuga ullam alias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam corrupti consectetur aperiam! Sit rem doloremque quisquam sequi animi, numquam facilis, ea fuga ab? Quae ipsa suscipit aspernatur voluptatum sequi expedita.

		p.light.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor deserunt placeat laborum a dolorem iusto, accusantium nihil necessitatibus consequatur, explicabo aperiam dolorum eius doloremque autem, quaerat culpa, ratione inventore. Optio.