section.mainIn.bgWhite.generica
	.containerFluidMedium.conetentReset.text-center
		h2.title.ColorBalck.medium Graciaspor contactanos<br>  en breve nos cominicaremos contigo.
		br
		p.light.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor deserunt placeat laborum a dolorem iusto, accusantium nihil necessitatibus consequatur, explicabo aperiam dolorum eius doloremque autem, quaerat culpa, ratione inventore. Optio.
		br
