section.mainIn.bgGreyLight.list
	.containerFluidMedium.conetentReset
		br
		br
		br
		br
		h2.subtitleIn.ColorBalck.medium.upper Proceso de operación comercial incluyendo el monitoreo de todos los indicadores del proceso es el siguiente:
		br
		br
		br
		br
		.row
			ul.col-xs-12.defaultUl.col-sm-6.text.ColorBlack.light
				li.light.row
					span.icon.flaticon-businessman-discussing-a-business-report.ColorRed.col-xs-2 
					p.light.col-xs-9<strong>Entrega del inmueble</strong> a la empresa que los administrará.
				li.light.row
					span.icon.flaticon-businessman-discussing-a-business-report.ColorRed.col-xs-2 
					p.light.col-xs-9<strong>Entrega del inmueble</strong> a la empresa que los administrará.
				li.light.row
					span.icon.flaticon-businessman-discussing-a-business-report.ColorRed.col-xs-2 
					p.light.col-xs-9<strong>Entrega del inmueble</strong> a la empresa que los administrará.

			ul.col-xs-12.defaultUl.col-sm-6.text.ColorBlack.light
				li.light.row
					span.icon.flaticon-businessman-discussing-a-business-report.ColorRed.col-xs-2 
					p.light.col-xs-9<strong>Entrega del inmueble</strong> a la empresa que los administrará.
				li.light.row
					span.icon.flaticon-businessman-discussing-a-business-report.ColorRed.col-xs-2 
					p.light.col-xs-9<strong>Entrega del inmueble</strong> a la empresa que los administrará.
				li.light.row
					span.icon.flaticon-businessman-discussing-a-business-report.ColorRed.col-xs-2 
					p.light.col-xs-9<strong>Entrega del inmueble</strong> a la empresa que los administrará.
		br
		br
		br
		br