section.mainIn.bgWhite
	.containerFluidSmall.conetentReset
		h2.subtitleIn.ColorRed.medium Aristea Desarrollos cuenta con una amplia experiencia en la comercialización de desarrollos inmobiliarios habitacionales, centros comerciales, oficinas corporativas y parques industriales.
		br
		br
		h2.subtitleIn.ColorBalck.medium Nuestra experiencia nos permite dirigir y operar integralmente el proceso comercial, desde la definición del proyecto a construir así como los productos a desarrollar.
		br
		br
		p.light.text Elaboramos la estrategia comercial más adecuada tomando en cuenta los siguientes puntos:
		br
		br
		.row
			ul.col-xs-12.col-sm-6.generalUl.text.ColorBlack.light
				li Análisis del mercado para identificar oportunidades y preferencias de consumo del público objetivo.
				li Monitoreo estricto de la competencia.
			ul.col-xs-12.col-sm-6.generalUl.text.ColorBlack.light
				li Establecimiento de canales de venta.
				li Definición de acciones puntuales de ejecución.