section.mainIn.bgWhite
	.containerFluidSmall.conetentReset.text-center
		h2.subtitleIn.light.ColorBlack <strong class="ColorRed">Aristea Desarrollos</strong> cuenta con una amplia experiencia en la comercialización de desarrollos inmobiliarios habitacionales. Nuestra experiencia nos permite dirigir y operar integralmente el proceso comercial, desde la definición del proyecto a construir así como los productos a desarrollar. 
		br
		br