section.mainorIn
	article.bgBlack
		.textoReset
			h2.ColorRed.Bold.upper.subtitleIn Alcances de los servicios de comercialización:
			br
			br
			ul.generalUl
				li.ColorWhite.text.thing Opinión comercial sobre la adquisición de nuevos terrenos.
				li.ColorWhite.text.thing Revisión del proyecto desde el punto de vista del consumidor final.
				li.ColorWhite.text.thing Estudio y análisis del público objetivo.
				li.ColorWhite.text.thing Coordinación para la creación de marca e imagen del proyecto.
				li.ColorWhite.text.thing Campaña de publicidad, creación de aplicaciones y promoción del desarrollo.
				li.ColorWhite.text.thing Capacitación de ventas, carpeta legal, contratos, negociaciones y ofertas.
				li.ColorWhite.text.thing Reporteo periódico del detalle de la operación y venta

