section.mainorIn.relative
	article.bgBlack
		.textoReset
			.ColorWhite.text.thing.smalltext Nuestros servicios comprenden desde la <strong>identificación de oportunidades de desarrollo inmobiliario</strong> hasta la entrega final del producto comercializado y el cierre administrativo del negocio.Para dar este servicio integral, nos basamos en tres pilares básicos de trabajo que desarrollamos directamente nosotros. Estos trabajos son:
			br
			.text.thing.ColorWhite.smalltext Para dar este servicio integral, nos basamos en tres pilares básicos de trabajo que desarrollamos directamente nosotros. Estos trabajos son: 
			ul.InUl.text.smalltext
				li.ColorWhite.Bold Gestión Inmobiliaria.
				li.ColorWhite.Bold Dirección de Construcción
				li.ColorWhite.Bold Comercialización del producto final.
			.text.light.ColorWhite Coordinamos durante todo el proceso los trabajos desarrollados por terceros, cuidando siempre que estos se realicen en los estándares más estándares altos de calidad, y de manera competitiva en tiempo y costo.
			br
			.text.light.ColorWhite Estamos orgullosos de proporcionar a nuestros clientes e inversionistas soluciones creativas a los problemas que este tipo de proyectos representan, teniendo especial cuidado en eliminar los conflictos de interés que pudieran existir con nuestros clientes / inversionistas.  
		.textoReset.absolute.textMainorText
			.ColorWhite.text.thing Nuestros servicios comprenden desde la <strong>identificación de oportunidades de desarrollo inmobiliario</strong> hasta la entrega final del producto comercializado y el cierre administrativo del negocio.Para dar este servicio integral, nos basamos en tres pilares básicos de trabajo que desarrollamos directamente nosotros. Estos trabajos son:
			br
			.text.thing.ColorWhite Para dar este servicio integral, nos basamos en tres pilares básicos de trabajo que desarrollamos directamente nosotros. Estos trabajos son: 
			ul.InUl.text
				li.ColorWhite.Bold Gestión Inmobiliaria.
				li.ColorWhite.Bold Dirección de Construcción
				li.ColorWhite.Bold Comercialización del producto final.