section.mainIn.bgWhite.our
	.containerFluidMedium.conetentReset
		.groupTitle.textCenter.box
			h2.subtitle.light.upper.ColorRed NUESTRO
			h1.title.upper.bold.ColorBlack EQUIPO
		br
		br
		.row 
			a(href="" type='button', data-toggle='modal', data-target='.bs-example-modal-lg').col-sx-12.col-sm-6.col-md-4
				img.relative.img-responsive.img-circle(src="assets/img/our.jpg")
				.groupTitle.textCenter.box
					h3.subtitleIn.bold.ColorBlack Alejandra Gonzales
					h4.text.light.ColorRed Director Comercial
			a(href="" type='button', data-toggle='modal', data-target='.bs-example-modal-lg').col-sx-12.col-sm-6.col-md-4
				img.relative.img-responsive.img-circle(src="assets/img/our.jpg")
				.groupTitle.textCenter.box
					h3.subtitleIn.bold.ColorBlack Alejandra Gonzales
					h4.text.light.ColorRed Director Comercial
			a(href="" type='button', data-toggle='modal', data-target='.bs-example-modal-lg').col-sx-12.col-sm-6.col-md-4
				img.relative.img-responsive.img-circle(src="assets/img/our.jpg")
				.groupTitle.textCenter.box
					h3.subtitleIn.bold.ColorBlack Alejandra Gonzales
					h4.text.light.ColorRed Director Comercial
// Large modal
.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel')
	.modal-dialog.modal-lg(role='document')
		.modal-content
			.head.bgRed.relative
				img.absolute.img-responsive.img-circle(src="assets/img/our.jpg")
				.datesCv
					h4.subtitle.ColorWhite.medium.inline.upper Alejandra González
					span.subtitle.ColorWhite.medium.inline |
					p.subtitle.ColorWhite.thing.inline   Direcora Comercial
			.body.relative
				span.flaticon-group.ColorRed.absolute
				br
				h5.ColorRed.upper.medium.subtitle experiencia
				br
				p.light.ColorBlack  <strong>Lorem ipsum dolor sit amet, </strong>consectetur adipisicing elit.  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
				br
				p.light.ColorBlack A asperiores quia, dolorum aperiam quasi doloribus non, doloremque sequi modi ad, unde veritatis saepe optio adipisci veniam voluptatibus iste quod eaque!
				i.thing.ColorBlack “Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo”.
			.foot
				a(href="#").flaticon-facebook-logo-button.ColorBlack.right 
					p.text.thing.inline /AleGonza
				a(href="#").flaticon-facebook-logo-button.ColorBlack.right 
					p.text.thing.inline /AleGonza
				a(href="#").flaticon-facebook-logo-button.ColorBlack.right 
					p.text.thing.inline /AleGonza