section.second.relative
	article
		.groupTitle.textCenter.boxRed
			h2.subtitle.light.upper.ColorWhite NOMBRE
			h1.titleMedium.upper.bold.ColorBlack PROYECTO
		p.text.ColorWhite.thing  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, metus.
section.third
	article.bgWhite
		.groupTitleSmall.textCenter.boxBlackTransparentTwo
			h2.subtitle.light.upper.ColorRed NOMBRE
			h1.titleMedium.upper.bold.ColorBlack PROYECTO
		p.text.ColorBlack.thing  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
section.second.relative
	article
		.groupTitle.textCenter.boxRed
			h2.subtitle.light.upper.ColorWhite NOMBRE
			h1.titleMedium.upper.bold.ColorBlack PROYECTO
		p.text.ColorWhite.thing  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, metus.
section.third
	article.bgWhite
		.groupTitleSmall.textCenter.boxBlackTransparentTwo
			h2.subtitle.light.upper.ColorRed NOMBRE
			h1.titleMedium.upper.bold.ColorBlack PROYECTO
		p.text.ColorBlack.thing  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.