#carousel-example-generic.carousel.slide(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target='#carousel-example-generic', data-slide-to='0')
    li(data-target='#carousel-example-generic', data-slide-to='1')
  .carousel-inner(role='listbox')
    .item.active.animated.fadeInUp
        h1.ColorWhite.bold.upper.textCenter.bgRed.fadeInUp.animated aristea
        .clear 
    .item.animated.fadeInUp
        h1.ColorWhite.bold.upper.textCenter.bgRed.fadeInUp.animated aristea
        .clear    